body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h1, h2 {
    color: #333;
    font-size: 2.0rem;
    margin-bottom: 10px;
}
a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #25bb00;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: #199100;
    color: white;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
  text-align: left;
  vertical-align: top;
}
td {
  max-width: 800px;
  word-wrap: break-word;
}
.novalue {
  font-weight: bold;
  color: red;
}
.token {
  font-weight: bold;
  color: limegreen;
}



