# Simple docker compose file
version: '3.6'

services:
  test:
    image: openidc-local:1
    volumes:
      - ./public-html:/var/www/html
      - ./src/server.crt:/etc/ssl/certs/server.crt
      - ./src/server.key:/etc/ssl/private/server.key
      - ./src/000-webserver.conf:/etc/apache2/sites-available/000-webserver.conf
      - ./src/auth_openidc.conf:/etc/apache2/mods-available/auth_openidc.conf
    ports:
       - 5000:80
       - 5001:443
