########################################################################################
##
## OIDC Settings
##
########################################################################################
##
## See https://github.com/OpenIDC/mod_auth_openidc/blob/master/auth_openidc.conf
## for all config items and descriptions
##

##  Typical host configuration items
OIDCRedirectURI https://www.localhost:8443/secure/redirect_uri
OIDCCryptoPassphrase "/bin/bash -c 'head /dev/urandom | tr -dc A-Za-z0-9 | head -c 32'"
OIDCUserInfoRefreshInterval 600
OIDCResponseType "code"
OIDCPKCEMethod S256
OIDCCookieSameSite On
OIDCUserInfoSignedResponseAlg RS256

## To pass "OIDC_userinfo_json" claims to PHP for decoding use one of the following.
OIDCPassUserInfoAs json # To make "OIDC_userinfo_json" claims available to PHP use this.
#OIDCPassIDTokenAs payload  # To make "OIDC_id_token_payload" claims available to PHP use this.

## Values you will need to add to the OIDC OP, details might need to be adjusted when registering RP.
## Home URL: 
##	https://www.localhost.local:8443
## Call Back URL: 
##	https://www.localhost:8443/secure/redirect_uri

## Per RP Settings - Only enable a single RP at a time - descriptions
## Name/environ: <description>
## OIDC OP Name: <description>
## Private/Public: <private/public>
## Config URL:  <description>

## configuration items
OIDCClientID <your_client_id>
OIDCClientSecret <your_client_secret>
OIDCResponseType "code"
OIDCScope "openid email profile" # other scopes
OIDCProviderMetadataURL https://<OIDC OP FQDN>/.well-known/openid-configuration
